.logo {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.logo img {
    height: 40px;
}

ul[nz-menu] {
    border-right: none;
}

ul[nz-menu] li {
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}

ul[nz-menu] li:hover {
    background-color: #1890ff;
    color: white;
}