.header {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  background: #ffd900cd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: top 0.4s ease-in-out;
  z-index: 1000;
  color:white;

  .logo{
    display: flex;
    justify-content: start;
    ::ng-deep img{
      height: 50px;
    }
  }

  &.visible {
    top: 0;
  }

  .nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 2rem;

    li {
      position: relative;
      
      a {
        text-decoration: none;
        color:#006666;
        font-weight: 500;
        transition: color 0.3s;

        &:hover {
          color: #008080;
        }
      }

      .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 0.5rem 0;
        border-radius: 5px;
        width: 180px;
        border-radius: 0.5pc;
      padding: 1pc;
      margin-top: 1pc;

        li {
          display: block;
          padding: 0.5rem;
          text-align: left;

          &:hover {
            background: rgba(0, 128, 128, 0.1);
          }
        }
      }

      .submenu-open {
        display: block;
      }
    }
  }

  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }

    ul {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background: white;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: none;
    }

    ul.menu-open {
      display: flex;
    }

    // ✅ Pour le sous-menu sur mobile
    .submenu {
      position: relative;
      width: 100%;
      box-shadow: none;
      z-index: 9000;
    }
  }
}
