<div class="container-rdv">
  <nz-spin [nzSpinning]="isLoading">
    <div class="container-rendez-vous">
      <div class="titre">
        <h1>Vos Rendez-vous</h1>
      </div>

      <div class="columns">
        <!-- Colonne Tâches -->
        <div class="example-container">
          <h2>Tâches</h2>
          <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[inProgressList, doneList]" id="todoList" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of todo" class="example-box" cdkDrag>
              <p><strong>Date:</strong> {{ item.dateFixeVisite | date:'dd/MM/yyyy' }} à {{ item.heureFixeVisite }}</p>
              <p><strong>Voiture:</strong> {{ item.voiture?.marque }} {{ item.voiture?.modele }}</p>
              <p><strong>Service:</strong> {{ item.typeService?.nom }}</p>
              <p><strong>Pièces utilisées :</strong></p>
              <ul style="line-height: 20px;">
                <li *ngFor="let piece of item.piece">{{ piece?.mere || 'Mère inconnue' }} - {{ piece?.fille || 'Fille
                  inconnue' }}</li>
              </ul>
              <p><strong>Client:</strong> {{ item.user.nom }} ({{item.user.numeroTel}})</p>
            </div>
          </div>
        </div>

        <!-- Colonne En cours -->
        <div class="example-container">
          <h2>En cours</h2>
          <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[todoList, doneList]" id="inProgressList" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of inProgress" class="example-box" cdkDrag>
              <p><strong>Date:</strong> {{ item.dateFixeVisite | date:'dd/MM/yyyy' }} à {{ item.heureFixeVisite }}</p>
              <p><strong>Voiture:</strong> {{ item.voiture?.marque }} {{ item.voiture?.modele }}</p>
              <p><strong>Service:</strong> {{ item.typeService?.nom }}</p>
              <p><strong>Pièces utilisées :</strong></p>
              <ul style="line-height: 20px;">
                <li *ngFor="let piece of item.piece">{{ piece?.mere || 'Mère inconnue' }} - {{ piece?.fille || 'Fille
                  inconnue' }}</li>
              </ul>
              <p><strong>Client:</strong> {{ item.user.nom }} ({{item.user.numeroTel}})</p>
            </div>
          </div>
        </div>

        <!-- Colonne Terminer -->
        <div class="example-container">
          <h2>Terminer</h2>
          <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, inProgressList]" id="doneList" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div *ngFor="let item of done" class="example-box" cdkDrag>
              <p><strong>Date:</strong> {{ item.dateFixeVisite | date:'dd/MM/yyyy' }} à {{ item.heureFixeVisite }}</p>
              <p><strong>Voiture:</strong> {{ item.voiture?.marque }} {{ item.voiture?.modele }}</p>
              <p><strong>Service:</strong> {{ item.typeService?.nom }}</p>
              <p><strong>Pièces utilisées :</strong></p>
              <ul style="line-height: 20px;">
                <li *ngFor="let piece of item.piece">{{ piece?.mere || 'Mère inconnue' }} - {{ piece?.fille || 'Fille
                  inconnue' }}</li>
              </ul>
              <p><strong>Client:</strong> {{ item.user.nom }} ({{item.user.numeroTel}})</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-spin>
</div>