<div class="container-rendez-vous">
    <div class="titre">
        <h1>Vos Rendez-vous</h1>
    </div>

    <div class="columns">
        <!-- Colonne Tâches -->
        <div class="example-container">
            <h2>Tâches</h2>
            <div
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              [cdkDropListConnectedTo]="[inProgressList, doneList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              
              @for (item of todo; track item) {
                <div class="example-box" cdkDrag>
                    <p><strong>Date:</strong> {{ item.date }} à {{ item.heure }}</p>
                    <p><strong>Marque:</strong> {{ item.marque }}  {{ item.matricule }}</p>
                    <p><strong>Service:</strong> {{ item.type_services }}</p>
                    <p><strong>Partie:</strong> {{ item.partie }}</p>
                    <p><strong>Pièce:</strong> {{ item.piece }}</p>
                </div>
              }
            </div>
        </div>

        <!-- Colonne En cours -->
        <div class="example-container">
            <h2>En cours</h2>
            <div
              cdkDropList
              #inProgressList="cdkDropList"
              [cdkDropListData]="inProgress"
              [cdkDropListConnectedTo]="[todoList, doneList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              
              @for (item of inProgress; track item) {
                <div class="example-box in-progress" cdkDrag>
                  <p><strong>Date:</strong> {{ item.date }} à {{ item.heure }}</p>
                  <p><strong>Marque:</strong> {{ item.marque }}  {{ item.matricule }}</p>
                  <p><strong>Service:</strong> {{ item.type_services }}</p>
                  <p><strong>Partie:</strong> {{ item.partie }}</p>
                  <p><strong>Pièce:</strong> {{ item.piece }}</p>
                </div>
              }
            </div>
        </div>

        <!-- Colonne Finis -->
        <div class="example-container">
            <h2>Terminer</h2>
            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList, inProgressList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              
              @for (item of done; track item) {
                <div class="example-box finished" cdkDrag>
                    <p><strong>Date:</strong> {{ item.date }} à {{ item.heure }}</p>
                    <p><strong>Marque:</strong> {{ item.marque }}  {{ item.matricule }}</p>
                    <p><strong>Service:</strong> {{ item.type_services }}</p>
                    <p><strong>Partie:</strong> {{ item.partie }}</p>
                    <p><strong>Pièce:</strong> {{ item.piece }}</p>
                </div>
              }
            </div>
        </div>
    </div>
</div>
