<div class="service-c">
    <div class="service-text-container">
      <form [formGroup]="entretienForm">
      <h2>Passer au garage pour <span>Un entretien</span></h2>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Mes voitures :</mat-label>
          <mat-select formControlName="voiture"
            (selectionChange)="onVoitureChange($event)">
            <mat-option *ngFor="let mesVoiture of mesVoitures"
              [value]="mesVoiture._id">
              {{ mesVoiture.immatriculation }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Mes entretiens :</mat-label>
          <mat-select formControlName="typeService"
            (selectionChange)="onEntretienChange($event)">
            <mat-option *ngFor="let mesEntretien of mesEntretiens"
              [value]="mesEntretien._id">
              {{ mesEntretien.typeEntretien }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <label for="lastMaintenance">Dernière date d'entretien :</label>
        <input type="date" id="lastMaintenance"
          formControlName="dateDerniereEntretien">
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="date" class="input-service">Votre Date *</label>
          <input type="date" id="date" formControlName="dateSuggestionVisite">
        </div>

        <div class="form-group">
          <label for="heure" class="input-service">Votre Heure *</label>
          <input type="time" id="heure" formControlName="heureSuggestionVisite">
        </div>
      </div>

      <p class="note">*Peut être modifié selon la disponibilité des
        mécaniciens</p>

      <button class="submit-btn" (click)="submitForm()">Demander un
        devis</button>
      </form>
    </div>
</div>
