<div nz-row>
    <div nz-col nzSpan="6">
        <nz-card class="card">
            <h3>Rendez-vous aujourd'hui</h3>
            <div nz-body>
                <h1>{{servicesToday}}</h1>
            </div>
        </nz-card>
    </div>
    <div nz-col nzSpan="6">
        <nz-card class="card">
            <h3>Nombre de Mécaniciens</h3>
            <div nz-body>
                <h1>{{mecanicienCount}}</h1>
            </div>
        </nz-card>
    </div>
    <div nz-col nzSpan="6">
        <nz-card class="card">
            <h3>Rendez-vous traité</h3>
            <div nz-body>
                <h1>{{servicesDone}}</h1>
            </div>
        </nz-card>
    </div>
    <div nz-col nzSpan="6">
        <nz-card class="card">
            <h3>Demande de devis</h3>
            <div nz-body>
                <h1>{{servicesPending}}</h1>
            </div>
        </nz-card>
    </div>
</div>
<div nz-row style="justify-content: center;">
  <div nz-col nzSpan="8">
      <nz-card class="card" style="background: transparent; color: inherit; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
          <h2>Chiffre d'affaire</h2>
          <div nz-body>
              <h1 style="font-size: 2.8em;">{{CA}} MGA</h1>
          </div>
      </nz-card>
  </div>
  <div nz-col nzSpan="8">
      <nz-card class="card" style="background: transparent; color: inherit; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
          <h2>Bénéfice</h2>
          <div nz-body>
              <h1 style="font-size: 2.8em;">{{mecanicienCount}} MGA</h1>
          </div>
      </nz-card>
  </div>
</div>
<div nz-row >
  <div nz-col nzSpan="24">
    <div class="chart-container">
      <h2>Chiffre d'affaires annuel</h2>
      <nz-date-picker
      nzMode="year"
      nzFormat="yyyy"
      [(ngModel)]="moisFiltre"
      (ngModelChange)="mettreAJourGraphique()"
      [nzPlaceHolder]="'Filtrer par année'"
      [nzDisabledDate]="disableFutureMonth"
    ></nz-date-picker>


      <!-- Graphique ECharts -->
      <echarts
        [options]="chartOptions"
        class="demo-chart"
        style="width: 100%; height: 400px;"
        [autoResize]="true">
      </echarts>
    </div>
  </div>
</div>

