.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
  }



  /* Sidebar */
  app-sidebar-admin {
    width: 220px;
    background-color: #001529;
    min-height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
  }

  /* Contenu */
  .content {
    flex: 1;
    margin-left: 220px;
    padding: 20px;
    overflow-y: auto;
    padding-bottom: 5pc;
  }

  /* Footer */
  app-footer {
    background-color: #001529;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    bottom: 0;
    width: calc(100% - 220px);
    left: 220px;
    margin-left: 13pc;
  }

  @media (max-width: 768px) {
    app-sidebar-mecanicien {
      width: 60px;
    }

    .content {
      margin-left: 60px;
    }

    app-footer {
      width: calc(100% - 60px);
      left: 60px;
    }
  }
