<div class="container">
  <div class="login-container">
    <div class="image-container"></div>
    <div class="form-container">
      <h2 class="title"> <img src="assets/logo/logo.png" alt="" srcset=""></h2>
      <form>
        <div class="login-email">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Enter your Email here" class="inputs" value="client@gmail.com">
        </div>

        <div class="login-password">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your Password" value="client@gmail.com" class="inputs">
        </div>
        <button type="button" class="connect-button" (click)="redirectToLanding()">Connect</button>
        <p class="login-link">Don't Have a account  <a  (click)="navigateToSignup()" >Subscribe</a></p>
      </form>
    </div>
  </div>
</div>
