<div class="container">
  <form [formGroup]="loginForm">
    <div class="login-container">
      <div class="image-container"></div>
      <div class="form-container">
        <h2 class="title"> <img src="assets/logo/logo.png" alt srcset></h2>
          <div class="login-email">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Enter your Email here"
              class="inputs" formControlName="adresseMail" value="mirado@mirado.com">
          </div>

          <div class="login-password">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your Password"
              value="mirado" formControlName="password" class="inputs">
          </div>
          <button type="button" class="connect-button"
            (click)="login()">Connect</button>
          <p class="login-link">Don't Have a account <a
              (click)="navigateToSignup()">Subscribe</a></p>
      </div>
    </div>
  </form>
</div>
