<div class="service-c">
  <div class="service-text-container">
    <h2>Passer au garage pour <span>Une réparation</span></h2>
    <form [formGroup]="reparationForm">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Mes voitures :</mat-label>
          <mat-select formControlName="voiture"
            (selectionChange)="onVoitureChange($event)">
            <mat-option *ngFor="let mesVoiture of mesVoitures"
              [value]="mesVoiture._id">
              {{ mesVoiture.immatriculation }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Pièce à réparer :</mat-label>
          <input type="text" class="autocomplete" matInput
            [formControl]="pieceControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"
            (optionSelected)="addPiece($event.option.viewValue)">
            <mat-option *ngFor="let piece of filteredOptions | async"
              [value]="piece">
              {{ piece }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="table-container" *ngIf="selectedPieces.length > 0">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="piece">
            <th mat-header-cell *matHeaderCellDef> Pièce </th>
            <td mat-cell *matCellDef="let piece"> {{ piece.fille }} </td>
          </ng-container>

          <ng-container matColumnDef="alreadyHave">
            <th mat-header-cell *matHeaderCellDef> Déjà en possession </th>
            <td mat-cell *matCellDef="let piece">
              <mat-checkbox [(ngModel)]="piece.alreadyHave" [ngModelOptions]="{standalone: true}"></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let piece">
              <button mat-icon-button (click)="removePiece(piece)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <br *ngIf="selectedPieces && selectedPieces.length > 0">

      <div class="form-group">
        <label for="lastMaintenance">Dernière date d'entretien :</label>
        <input type="date" id="lastMaintenance"
          formControlName="dateDerniereEntretien">
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="date" class="input-service">Votre Date *</label>
          <input type="date" id="date" formControlName="dateSuggestionVisite">
        </div>

        <div class="form-group">
          <label for="heure" class="input-service">Votre Heure *</label>
          <input type="time" id="heure" formControlName="heureSuggestionVisite">
        </div>
      </div>
      <p class="note">*Peut être modifié selon la disponibilité des
        mécaniciens</p>
      
        <button class="submit-btn" (click)="submitForm()" [disabled]="isLoading">
          <ng-container *ngIf="isLoading; else submitText">
            <mat-spinner diameter="20"></mat-spinner>
          </ng-container>
          <ng-template #submitText>Demander un devis</ng-template>
        </button>
    </form>
  </div>
</div>
