<div class="service-c">
  <div class="service-text-container">
    <h2>Passer au garage pour <span>{{serviceTitle}}</span></h2>
  <form>
    <div class="form-group">
      <label for="gravite">Gravité du problème :</label>
      <select id="gravite">
        <option>Mineur</option>
        <option>Moyen</option>
        <option>Grave</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="piecesChangees">Pièces déjà changées ? (optionnel) :</label>
      <input type="text" id="piecesChangees" placeholder="Exemple : Courroie de distribution, batterie...">
    </div>    

    <div class="form-row">
      <div class="form-group">
        <label for="date">Votre Date *</label>
        <input type="date" id="date">
      </div>

      <div class="form-group">
        <label for="heure">Votre Heure *</label>
        <input type="time" id="heure">
      </div>
    </div>

    <p class="note">*Peut être modifié selon la disponibilité des
      mécaniciens</p>

    <button class="submit-btn">Demander un rendez-vous</button>
  </form>
</div>
<div class="image-container">
  <img *ngIf="serviceImage" [src]="serviceImage" alt="Service Image">
</div>


</div>