<div #pdfContent>
    <div class="invoice-container">
        <div class="header">
          <div class="logo">
            <img src="assets/logo/logo.png" alt="logo" />
          </div>
          <div class="entreprise-info">
            <p>
              Adresse: Tsimbazaza Lot 104 B<br />
              Ville: Antananarivo<br />
              NIF:3002458203
            </p>
          </div>
        </div>
      
        <div class="destinataire-section">
          <div class="info">
            <div class="client-info">
              <p><strong>Nom : </strong>{{ client.nom }}</p>
              <p><strong>Adresse : </strong>{{ client.adresse }}</p>
              <p><strong>Contact : </strong>{{ client.contact }}</p>
            </div>
          </div>
          <div class="facture-info">
            <strong>Numéro Facture</strong> {{ factureNumero }}<br />
            <strong>Date Facture</strong><br />{{ dateFacture }}
          </div>
        </div>
      
        <table class="invoice-table">
          <thead>
            <tr>
              <th>Description</th>
              <th>Quantité</th>
              <th>Prix</th>
              <th>TVA</th>
              <th>Montant</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of prestations">
              <td>{{ item.description }}</td>
              <td class="number">{{ item.quantite }}</td>
              <td class="number">{{ item.prix | number:'1.0-0' }} Ar</td>
              <td class="number">{{ item.tva * 100 }}%</td>
              <td class="number">{{ (item.prix * item.quantite) | number:'1.0-0' }} AR</td>
            </tr>
          </tbody>
        </table>
      
        <table class="total-table">
          <tr>
            <td>Sous-total HT</td>
            <td class="number">{{ sousTotalHT | number:'1.0-0' }} ar</td>
          </tr>
          <tr>
            <td>TVA 20%</td>
            <td class="number">{{ montantTVA | number:'1.0-0' }} ar</td>
          </tr>
          <tr>
            <td><strong>Montant Total AR</strong></td>
            <td class="number"><strong>{{ montantTotal | number:'1.0-0' }} ar</strong></td>
          </tr>
          <tr>
            <td><strong>Montant Payer</strong></td>
            <td class="number"><strong>{{ montantTotal | number:'1.0-0' }} ar</strong></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="container-btn">       
        <button class="download-button" (click)="downloadPDF()">Télécharger en PDF</button>
    </div>


  