<div class="service-mere">
  <app-header-pages></app-header-pages>
  <div class="container-r">


    <div class="titre">
      <h1>L'état de vos Rendez-vous</h1>
    </div>

    <div class="boucle" *ngFor="let rendezVous of rendezVousList; let i = index">
      <div class="data-rendez-vous">
        <div class="details-date">
          <div>
            <h3>Date Proposée : {{ rendezVous.dateSuggestionVisite | date:'dd/MM/yyyy' }} à {{ rendezVous.heureSuggestionVisite }}</h3>
          </div>
          <div>
            <h3>Date Fixée : {{ rendezVous.dateFixeVisite ? (rendezVous.dateFixeVisite | date:'dd/MM/yyyy') : '-' }} à {{ rendezVous.heureFixeVisite || '-' }}</h3>
          </div>
          <p>Véhicule: {{ rendezVous.voiture?.immatriculation || 'Inconnu' }}</p>
          <p>Type de service: {{ rendezVous.typeService?.nom || 'Inconnu' }}</p>
        </div>
        <div class="details-etat">
          <span [ngClass]="getEtatIcon(rendezVous.serviceObject?.etat).class" class="etat" (click)="onClickRendezVous(i)">
            <i class="fa" [ngClass]="getEtatIcon(rendezVous.serviceObject?.etat).icon"></i> 
            {{ rendezVous.serviceObject?.etat }}
          </span>
        </div>
      </div>
      <app-rendez-vous-detail 
              *ngIf="rendezVousSelectionne === i && isDetailRendezVousOpened"
              [rendezVous]="rendezVousList[i]">
      </app-rendez-vous-detail>
    </div>
  </div>
  <app-footer></app-footer>
</div>
