<div class="service-mere">
  <app-header-pages></app-header-pages>
  <div class="container-r">

    <!-- Barre de recherche -->
    <div class="search-bar">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Rechercher par mot clé (description, état, véhicule, utilisateur...)"
        (input)="searchServices()"
      >
    </div>

    <div class="titre">
      <h1>L'état de vos Rendez-vous</h1>
    </div>

    <div class="boucle" *ngFor="let rendezVous of filteredRendezVousList; let i = index">
      <div class="data-rendez-vous">
        <div class="details-date">
          <div>
            <h3>Date Proposée : {{ rendezVous.dateSuggestionVisite | date:'dd/MM/yyyy' }} à {{ rendezVous.heureSuggestionVisite }}</h3>
          </div>
          <div>
            <h3>Date Fixée : {{ rendezVous.dateFixeVisite ? (rendezVous.dateFixeVisite | date:'dd/MM/yyyy') : '-' }} à {{ rendezVous.heureFixeVisite || '-' }}</h3>
          </div>
          <p>Véhicule: {{ rendezVous.voiture?.immatriculation || 'Inconnu' }}</p>
          <p>Type de service: {{ rendezVous.typeService?.nom || 'Inconnu' }}</p>
        </div>
        <div class="details-etat">
          <span>{{ rendezVous.etat }}</span>
          <span (click)="onClickRendezVous(i)">
            <i class="fa fa-info-circle"></i> Voir détails
          </span>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
