<div class="profil-note">
    <div class="container-notes">
        <h2>Comment évaluez-vous l'expérience avec votre mécanicien ?</h2>
    </div>
    <div class="etoiles-notes">
        <div class="emoji-rating">
            <span 
                *ngFor="let emoji of emojis; let i = index" 
                (click)="setRating(i)" 
                (mouseenter)="setHoveredText(i)" 
                (mouseleave)="clearHoveredText()"
                [class.selected]="rating > i">
                {{ emoji }}
            </span>
        </div>
        <p *ngIf="hoveredText">{{ hoveredText }}</p>
        <p *ngIf="rating > 0">Vous avez donné une note de {{ rating }} / 5</p>
    </div>
</div>
