<div class="profil-edit-container">
  <h2>Ajouter un véhicule</h2>
  <form [formGroup]="vehiculeForm" (ngSubmit)="onSubmit()">
    <div class="car-container">
      <div class="row-1">
        <mat-form-field appearance="outline">
          <mat-label>Marque</mat-label>
          <input matInput class="put" formControlName="marque">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Modèle</mat-label>
          <input matInput class="put" formControlName="modele">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Type de carburant</mat-label>
          <mat-select formControlName="typeCarburant">
            <mat-option *ngFor="let c of carburants" [value]="c">{{ c }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row-2">
        <mat-form-field appearance="outline">
          <mat-label>Année</mat-label>
          <mat-select formControlName="annee">
            <mat-option *ngFor="let an of annees" [value]="an">{{ an }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Immatriculation</mat-label>
          <input matInput class="put" formControlName="immatriculation">
        </mat-form-field>
      </div>
      <div class="row-3">
        <mat-form-field appearance="outline">
          <mat-label>Puissance (ch)</mat-label>
          <input matInput class="put" type="number" formControlName="puissance">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Kilométrage (km)</mat-label>
          <input matInput class="put" type="number" formControlName="kilometrage">
        </mat-form-field>
      </div>
    </div>
    <div class="btn-container">
      <button mat-raised-button color="warn" class="cancel-btn" (click)="onCancelClick()">Annuler</button>
      <button mat-raised-button color="primary" class="submit-btn" type="submit" [disabled]="isLoading">
        <ng-container *ngIf="isLoading; else saveText">
          <mat-spinner diameter="20"></mat-spinner>
        </ng-container>
        <ng-template #saveText>Enregistrer</ng-template>
      </button>
    </div>
  </form>
</div>