<div class="landing-page">
  <section class="hero-section">
    <div class="hero-content">
      <h1 class="special-text">Welcome to <span>Car-Kara</span></h1>
      <p>Votre partenaire de confiance pour des véhicules d'exception.</p>
      <button class="cta-button">Découvrir</button>
    </div>
  </section>

  <section class="content-section">
    <div class="grid-container">
      <div *ngFor="let service of services; let i = index" class="grid-item" [ngClass]="{'text-first': i % 2 === 0}">
        <div class="text-content" *ngIf="i % 2 === 0">
          <h3>{{ service.title }}</h3>
          <p>{{ service.description }}</p>
          <ul>
            <li *ngFor="let detail of service.details">{{ detail }}</li>
          </ul>
        </div>
        <div className="image-content">
          <img [src]="service.image" class="image" alt="{{ service.title }}">
        </div>
        <div class="text-content" *ngIf="i % 2 !== 0">
          <h3>{{ service.title }}</h3>
          <p>{{ service.description }}</p>
          <ul>
            <li *ngFor="let detail of service.details">{{ detail }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <app-header></app-header>
  <app-footer></app-footer>
</div>
