<div class="service-text-container">
    <h2>Passer au garage pour <span>{{serviceTitle}}</span></h2>
  <form>
    <div class="form-group">
      <label for="description">Décrivez le problème :</label>
      <textarea id="description" rows="3" placeholder="Exemple : Bruit étrange en accélérant..."></textarea>
    </div>
    
    <div class="form-group">
      <label>Avez-vous remarqué un bruit ou un symptôme visible ?</label>
      <div class="radio-group">
        <input type="radio" id="bruitOui" name="bruit" value="oui"><label for="bruitOui">Oui</label>
        <input type="radio" id="bruitNon" name="bruit" value="non"><label for="bruitNon">Non</label>
      </div>
    </div>
    
    <div class="form-group">
      <label for="photos">Ajouter une photo (optionnel) :</label>
      <input type="file" id="photos" accept="image/*">
    </div>
    

    <div class="form-row">
      <div class="form-group">
        <label for="date" class="input-service">Votre Date *</label>
        <input type="date" id="date">
      </div>

      <div class="form-group">
        <label for="heure" class="input-service">Votre Heure *</label>
        <input type="time" id="heure">
      </div>
    </div>

    <p class="note">*Peut être modifié selon la disponibilité des
      mécaniciens</p>

    <button class="submit-btn">Demander un rendez-vous</button>
  </form>
</div>
<div class="image-container">
  <img *ngIf="serviceImage" [src]="serviceImage" alt="Service Image">
</div>

