<div nz-row>
    <div nz-col nzSpan="6">
        <nz-card class="card">
            <h3>Nombre de rendez-vous Aujourd'hui</h3>
            <div nz-body>
                <h1>6</h1>
            </div>
        </nz-card>
    </div>
    <div nz-col nzSpan="6">
        <nz-card class="card">
            <h3>En-cours</h3>
            <div nz-body>
                <h1>1</h1>
            </div>
        </nz-card>
    </div>
    <div nz-col nzSpan="6">
        <nz-card class="card">
            <h3>Traités</h3>
            <div nz-body>
                <h1>2</h1>
            </div>
        </nz-card>
    </div>
    <div nz-col nzSpan="6">
        <nz-card class="card">
            <h3>Reste</h3>
            <div nz-body>
                <h1>4</h1>
            </div>
        </nz-card>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="24">
      <nz-card class="chart-card">
        <h3>Statistiques des voitures traitées</h3>
        <echarts 
          [options]="chartOptions" 
          class="demo-chart" 
          style="width: 100%; height: 400px;" 
          [autoResize]="true">
        </echarts>
      </nz-card>
    </div>
  </div>
  
  

