.profil-edit-container {
    background-color: var(--color-text);
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    font-family: Arial, sans-serif;


    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: end;

        mat-form-field {
            width: 100%;
            margin-bottom: 15px;
        }


        .btn-container {
            display: flex;
            gap: 20px;
            .cancel-btn {
                background-color: #86865f;
                color: black;
                border: none;
                padding: 0.8rem 1.5rem;
                font-size: 1rem;
                cursor: pointer;
                border-radius: 5px;
                margin-top: 1rem;
                transition: 0.3s;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: #e5d71a;
                }
            }
            .submit-btn {
                background-color: var(--color-highlight);
                color: white;
                border: none;
                padding: 0.8rem 1.5rem;
                font-size: 1rem;
                cursor: pointer;
                border-radius: 5px;
                margin-top: 1rem;
                transition: 0.3s;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: var(--color-text);
                }
            }
        }
    }
}