/* Importer la police Google Fonts */
// @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* Définition des polices locales */
@font-face {
    font-family: 'Street';
    src: url('../public/font/From\ Street\ Art.otf') format('opentype'); 
}

/* Déclaration des variables globales */
:root {
    /* 🎨 Palette de couleurs */
    --color-bg: #0b0c07;
    --color-primary: #1e1e1e;
    --color-secondary: #2c2c2c;
    --color-accent: #3a3a3a;
    --color-text: whitesmoke;
    --color-highlight: #FF9800;
    --color-bg-header: #42424233;
    --color-hv-submenu: #00a8e847;

    /* 🔤 Polices */
    // --font-primary: 'Sriracha', cursive;
    --font-secondary: 'Street', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    // font-family: var(--font-primary);
    background-color: var(--color-bg);
    color: var(--color-text);
}

// h1, h2, h3, p, button {
//     font-family: var(--font-primary);
// }

.special-text {
    font-family: var(--font-secondary);
    font-size: 80pt;
}

/* Exemple de bouton avec effet */
.button {
    background-color: var(--color-highlight);
    color: var(--color-bg);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--color-accent);
    color: var(--color-text);
}
.mdc-text-field__input {
    color: whitesmoke !important;
}
.mat-mdc-select{
    color: whitesmoke !important;
}
.mdc-floating-label{
    font-size: 4pt;
    color: var(--color-highlight) !important;
}