<div class="details-container">
    <div class="profil-car">
        <div class="profil-voiture-header">
            <h3>Vos voitures</h3>
            <button class="add-button" (click)="onCarFormClick()">Ajouter</button>
        </div>
        <table>
            <thead>
              <tr>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Année</th>
                <th>Immatriculation</th>
                <th>Type de Carburant</th>
                <th>Puissance</th>
                <th>Kilométrage</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let car of voituresByUser">
                <td>{{ car.marque }}</td>
                <td>{{ car.modele }}</td>
                <td>{{ car.annee }}</td>
                <td>{{ car.immatriculation }}</td>
                <td>{{ car.typeCarburant }}</td>
                <td>{{ car.puissance }}</td>
                <td>{{ car.kilometrage }}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="profil-visit">
        <h3>Vos visites</h3>
        <table>
            <tr>
                <th>Voiture</th>
                <th>Date</th>
                <th>Service</th>
                <th>Details</th>
            </tr>
            <tr *ngFor="let visit of visits">
                <td>{{ visit.car }}</td>
                <td>{{ visit.date }}</td>
                <td>{{ visit.service }}</td>
                <td><a (click)="onFactureClick()">Voir détails</a></td>
            </tr>
        </table>
    </div>
</div>